[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.19.3"
pillow = "==8.3.2"
urllib3 = "*"
matplotlib = "*"
torch = "*"
kaggle = "*"
pandas = "==1.3.3"
jinja2 = "*"
js2py = "*"
gdown = "*"
scipy = "==1.7.1"
tensorflow = "==2.7.0"
tensorflow-datasets = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.8"
