[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.19.3"
pillow = "==8.1.0"
urllib3 = "*"
matplotlib = "*"
torch = "*"
kaggle = "*"
pandas = "*"
jinja2 = "*"
js2py = "*"
gdown = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.8"
